.container
  %hgroup.page-header
    %h1
      Categories
  .categories-list
    = link_to 'Return all', '', class: 'all-back'
    - @categories.each do |category|
      %section.category{class: "category-#{category.id}"}
        %hgroup
          %h3
            = link_to category.name, '#'
        %ul
          - @entries.select{|e| e.category_id == category.id}.each do |user_entry|
            %li.entry
              = link_to user_entry.entry.title, user_entry.entry.url
              %small.muted= user_entry.entry.description
