.container
  .hero-unit
    %h1 My Ruby Toolbox
    %p Collect, explore and share your code solutions
    %p
      - if user_signed_in?
        = image_tag current_user.avatar_url if current_user.avatar_url.present?
        = current_user.nick_and_name
        = link_to destroy_user_session_path, :method => :delete, class: "btn btn-mini" do
          %span.btn-label
            Sign out
      - else
        = link_to user_omniauth_authorize_path(:github), class: "btn btn-large btn-primary" do
          %span.btn-label
            Sign in via Github
  .row
    .span4
      %h2 Collect
      %p
        Just paste link to gem, gist, screencast or article, add comment and you
        will be able to access your solutions base anytime and everywhere.
    .span4
      %h2 Explore
      %p
        You didn't have a solution for task you work on? Not a problem! We will
        suggest you relevant solutions from another users.
    .span4
      %h2 Share
      %p
        Your may mark your solutions as "shareable" to allow other users of "My
        Ruby Toolbox" access your knowledge and improve their skills.
.container
  %h1.align-center 32 users added more than 24,000 solutions to our database
  %p
    %br
.container
  .row
    .span4.offset4
      = link_to user_omniauth_authorize_path(:github), class: "btn btn-large btn-primary btn-block" do
        %span.btn-label Sign in and start using!
